<footer>
    <p>&copy;JerseyJungle</p>
    <div class="icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-discord"></i>
    </div>
</footer>
</body>
</html>