<%- include('./partials/header.ejs')%>
    <main>
        <div class="index-body">
            <div class="welcome">
                <h1>JERSEY JUNGLE</h1>
                <p>A marketplace where you can find the best collection of football jerseys online and start your own collection.</p>
                <a href='/items'>Start Browsing</a>
            </div>
            <img src="images/jerseys.jpg" alt="Jerseys">
        </div>
    </main>
<%- include('./partials/footer.ejs')%>